/*
Core API

Marqeta's Core API endpoints, conveniently annotated to enable code generation (including SDKs), test cases, and documentation. Currently in beta.

API version: 3.0.11
Contact: support@marqeta.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package marqeta_coreapi_client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// RewardProgramsBetaAPIService RewardProgramsBetaAPI service
type RewardProgramsBetaAPIService service

type ApiPostRewardProgramEntryRequest struct {
	ctx context.Context
	ApiService *RewardProgramsBetaAPIService
	token string
	createRewardProgramsEntriesRequest *CreateRewardProgramsEntriesRequest
}

func (r ApiPostRewardProgramEntryRequest) CreateRewardProgramsEntriesRequest(createRewardProgramsEntriesRequest CreateRewardProgramsEntriesRequest) ApiPostRewardProgramEntryRequest {
	r.createRewardProgramsEntriesRequest = &createRewardProgramsEntriesRequest
	return r
}

func (r ApiPostRewardProgramEntryRequest) Execute() (*RewardProgramsEntriesResponse, *http.Response, error) {
	return r.ApiService.PostRewardProgramEntryExecute(r)
}

/*
PostRewardProgramEntry Create reward entry

Create a reward entry on a specific reward program.

Use this endpoint to manually create a reward entry if an existing reward is being disputed.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param token Unique identifier of the reward program.
 @return ApiPostRewardProgramEntryRequest
*/
func (a *RewardProgramsBetaAPIService) PostRewardProgramEntry(ctx context.Context, token string) ApiPostRewardProgramEntryRequest {
	return ApiPostRewardProgramEntryRequest{
		ApiService: a,
		ctx: ctx,
		token: token,
	}
}

// Execute executes the request
//  @return RewardProgramsEntriesResponse
func (a *RewardProgramsBetaAPIService) PostRewardProgramEntryExecute(r ApiPostRewardProgramEntryRequest) (*RewardProgramsEntriesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RewardProgramsEntriesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RewardProgramsBetaAPIService.PostRewardProgramEntry")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/credit/rewardprograms/{token}/entries"
	localVarPath = strings.Replace(localVarPath, "{"+"token"+"}", url.PathEscape(parameterValueToString(r.token, "token")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createRewardProgramsEntriesRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetrieveRewardProgramRequest struct {
	ctx context.Context
	ApiService *RewardProgramsBetaAPIService
	token string
}

func (r ApiRetrieveRewardProgramRequest) Execute() (*RewardProgramsResponse, *http.Response, error) {
	return r.ApiService.RetrieveRewardProgramExecute(r)
}

/*
RetrieveRewardProgram Retrieve reward program

Retrieve a specific reward program.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param token Unique identifier of the reward program.
 @return ApiRetrieveRewardProgramRequest
*/
func (a *RewardProgramsBetaAPIService) RetrieveRewardProgram(ctx context.Context, token string) ApiRetrieveRewardProgramRequest {
	return ApiRetrieveRewardProgramRequest{
		ApiService: a,
		ctx: ctx,
		token: token,
	}
}

// Execute executes the request
//  @return RewardProgramsResponse
func (a *RewardProgramsBetaAPIService) RetrieveRewardProgramExecute(r ApiRetrieveRewardProgramRequest) (*RewardProgramsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RewardProgramsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RewardProgramsBetaAPIService.RetrieveRewardProgram")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/credit/rewardprograms/{token}"
	localVarPath = strings.Replace(localVarPath, "{"+"token"+"}", url.PathEscape(parameterValueToString(r.token, "token")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetrieveRewardProgramBalanceRequest struct {
	ctx context.Context
	ApiService *RewardProgramsBetaAPIService
	token string
}

func (r ApiRetrieveRewardProgramBalanceRequest) Execute() (*RewardProgramsBalancesResponse, *http.Response, error) {
	return r.ApiService.RetrieveRewardProgramBalanceExecute(r)
}

/*
RetrieveRewardProgramBalance Retrieve reward program balances

Retrieve the balances for a specific reward program.

The reward accrual service calculates values to a 4 point precision,
however the retrieve reward balance endpoint returns pending and accrued balances to a 2 point precision

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param token Unique identifier of the reward program.
 @return ApiRetrieveRewardProgramBalanceRequest
*/
func (a *RewardProgramsBetaAPIService) RetrieveRewardProgramBalance(ctx context.Context, token string) ApiRetrieveRewardProgramBalanceRequest {
	return ApiRetrieveRewardProgramBalanceRequest{
		ApiService: a,
		ctx: ctx,
		token: token,
	}
}

// Execute executes the request
//  @return RewardProgramsBalancesResponse
func (a *RewardProgramsBetaAPIService) RetrieveRewardProgramBalanceExecute(r ApiRetrieveRewardProgramBalanceRequest) (*RewardProgramsBalancesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RewardProgramsBalancesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RewardProgramsBetaAPIService.RetrieveRewardProgramBalance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/credit/rewardprograms/{token}/balances"
	localVarPath = strings.Replace(localVarPath, "{"+"token"+"}", url.PathEscape(parameterValueToString(r.token, "token")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetrieveRewardProgramEntriesRequest struct {
	ctx context.Context
	ApiService *RewardProgramsBetaAPIService
	token string
	startDate *time.Time
	endDate *time.Time
	count *int32
	startIndex *int64
	sortBy *string
	status *[]RewardEntryStatus
}

// The starting date (or date-time) of a date range from which to return resources, in UTC.
func (r ApiRetrieveRewardProgramEntriesRequest) StartDate(startDate time.Time) ApiRetrieveRewardProgramEntriesRequest {
	r.startDate = &startDate
	return r
}

// The ending date (or date-time) of a date range from which to return resources, in UTC.
func (r ApiRetrieveRewardProgramEntriesRequest) EndDate(endDate time.Time) ApiRetrieveRewardProgramEntriesRequest {
	r.endDate = &endDate
	return r
}

// Number of resources to retrieve.
func (r ApiRetrieveRewardProgramEntriesRequest) Count(count int32) ApiRetrieveRewardProgramEntriesRequest {
	r.count = &count
	return r
}

// Sort order index of the first resource in the returned array.
func (r ApiRetrieveRewardProgramEntriesRequest) StartIndex(startIndex int64) ApiRetrieveRewardProgramEntriesRequest {
	r.startIndex = &startIndex
	return r
}

// Field on which to sort. Prefix the field name with a hyphen (&#x60;-&#x60;) to sort in descending order. Omit the hyphen to sort in ascending order.  *NOTE*: You must sort using system field names such as &#x60;createdTime&#x60;, and not by the field names appearing in response bodies such as &#x60;created_time&#x60;.
func (r ApiRetrieveRewardProgramEntriesRequest) SortBy(sortBy string) ApiRetrieveRewardProgramEntriesRequest {
	r.sortBy = &sortBy
	return r
}

// Status of the reward entries in the returned array.
func (r ApiRetrieveRewardProgramEntriesRequest) Status(status []RewardEntryStatus) ApiRetrieveRewardProgramEntriesRequest {
	r.status = &status
	return r
}

func (r ApiRetrieveRewardProgramEntriesRequest) Execute() (*RewardProgramsEntriesPage, *http.Response, error) {
	return r.ApiService.RetrieveRewardProgramEntriesExecute(r)
}

/*
RetrieveRewardProgramEntries List reward entries

Retrieve an array of reward entries on a specific reward program.

The reward accrual service calculates values to a 4 point precision, 
however the retrieve reward balance endpoint returns pending and accrued balances to a 2 point precision

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param token Unique identifier of the reward program.
 @return ApiRetrieveRewardProgramEntriesRequest
*/
func (a *RewardProgramsBetaAPIService) RetrieveRewardProgramEntries(ctx context.Context, token string) ApiRetrieveRewardProgramEntriesRequest {
	return ApiRetrieveRewardProgramEntriesRequest{
		ApiService: a,
		ctx: ctx,
		token: token,
	}
}

// Execute executes the request
//  @return RewardProgramsEntriesPage
func (a *RewardProgramsBetaAPIService) RetrieveRewardProgramEntriesExecute(r ApiRetrieveRewardProgramEntriesRequest) (*RewardProgramsEntriesPage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RewardProgramsEntriesPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RewardProgramsBetaAPIService.RetrieveRewardProgramEntries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/credit/rewardprograms/{token}/entries"
	localVarPath = strings.Replace(localVarPath, "{"+"token"+"}", url.PathEscape(parameterValueToString(r.token, "token")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "")
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	} else {
		var defaultValue int32 = 5
		r.count = &defaultValue
	}
	if r.startIndex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_index", r.startIndex, "")
	} else {
		var defaultValue int64 = 0
		r.startIndex = &defaultValue
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_by", r.sortBy, "")
	} else {
		var defaultValue string = "-createdTime"
		r.sortBy = &defaultValue
	}
	if r.status != nil {
		t := *r.status
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "status", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "status", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetrieveRewardProgramEntriesBalanceRequest struct {
	ctx context.Context
	ApiService *RewardProgramsBetaAPIService
	token string
	startDate *time.Time
	endDate *time.Time
}

// The starting date (or date-time) of a date range from which to return resources, in UTC.
func (r ApiRetrieveRewardProgramEntriesBalanceRequest) StartDate(startDate time.Time) ApiRetrieveRewardProgramEntriesBalanceRequest {
	r.startDate = &startDate
	return r
}

// The ending date (or date-time) of a date range from which to return resources, in UTC.
func (r ApiRetrieveRewardProgramEntriesBalanceRequest) EndDate(endDate time.Time) ApiRetrieveRewardProgramEntriesBalanceRequest {
	r.endDate = &endDate
	return r
}

func (r ApiRetrieveRewardProgramEntriesBalanceRequest) Execute() (*RewardProgramsEntriesBalanceResponse, *http.Response, error) {
	return r.ApiService.RetrieveRewardProgramEntriesBalanceExecute(r)
}

/*
RetrieveRewardProgramEntriesBalance Retrieve reward entries balance

Retrieve the balance of reward entries, which is the accrued rewards amount, within a specified date range.

The reward accrual service calculates values to a 4 point precision, 
however the retrieve reward balance endpoint returns pending and accrued balances to a 2 point precision

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param token Unique identifier of the reward program.
 @return ApiRetrieveRewardProgramEntriesBalanceRequest
*/
func (a *RewardProgramsBetaAPIService) RetrieveRewardProgramEntriesBalance(ctx context.Context, token string) ApiRetrieveRewardProgramEntriesBalanceRequest {
	return ApiRetrieveRewardProgramEntriesBalanceRequest{
		ApiService: a,
		ctx: ctx,
		token: token,
	}
}

// Execute executes the request
//  @return RewardProgramsEntriesBalanceResponse
func (a *RewardProgramsBetaAPIService) RetrieveRewardProgramEntriesBalanceExecute(r ApiRetrieveRewardProgramEntriesBalanceRequest) (*RewardProgramsEntriesBalanceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RewardProgramsEntriesBalanceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RewardProgramsBetaAPIService.RetrieveRewardProgramEntriesBalance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/credit/rewardprograms/{token}/entries/balance"
	localVarPath = strings.Replace(localVarPath, "{"+"token"+"}", url.PathEscape(parameterValueToString(r.token, "token")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startDate == nil {
		return localVarReturnValue, nil, reportError("startDate is required and must be specified")
	}
	if r.endDate == nil {
		return localVarReturnValue, nil, reportError("endDate is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetrieveRewardProgramEntryRequest struct {
	ctx context.Context
	ApiService *RewardProgramsBetaAPIService
	token string
	entryToken string
}

func (r ApiRetrieveRewardProgramEntryRequest) Execute() (*RewardProgramsEntriesResponse, *http.Response, error) {
	return r.ApiService.RetrieveRewardProgramEntryExecute(r)
}

/*
RetrieveRewardProgramEntry Retrieve reward entry

Retrieve a specific reward entry on a reward program.

The reward accrual service calculates values to a 4 point precision, 
however the retrieve reward balance endpoint returns pending and accrued balances to a 2 point precision

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param token Unique identifier of the reward program.
 @param entryToken Unique identifier of the reward entry to retrieve.
 @return ApiRetrieveRewardProgramEntryRequest
*/
func (a *RewardProgramsBetaAPIService) RetrieveRewardProgramEntry(ctx context.Context, token string, entryToken string) ApiRetrieveRewardProgramEntryRequest {
	return ApiRetrieveRewardProgramEntryRequest{
		ApiService: a,
		ctx: ctx,
		token: token,
		entryToken: entryToken,
	}
}

// Execute executes the request
//  @return RewardProgramsEntriesResponse
func (a *RewardProgramsBetaAPIService) RetrieveRewardProgramEntryExecute(r ApiRetrieveRewardProgramEntryRequest) (*RewardProgramsEntriesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RewardProgramsEntriesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RewardProgramsBetaAPIService.RetrieveRewardProgramEntry")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/credit/rewardprograms/{token}/entries/{entry_token}"
	localVarPath = strings.Replace(localVarPath, "{"+"token"+"}", url.PathEscape(parameterValueToString(r.token, "token")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"entry_token"+"}", url.PathEscape(parameterValueToString(r.entryToken, "entryToken")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetrieveRewardProgramsRequest struct {
	ctx context.Context
	ApiService *RewardProgramsBetaAPIService
	accountToken *string
	isActive *bool
	count *int32
	startIndex *int64
	sortBy *string
}

// The unique identifier of the credit account for which you want to retrieve reward programs.
func (r ApiRetrieveRewardProgramsRequest) AccountToken(accountToken string) ApiRetrieveRewardProgramsRequest {
	r.accountToken = &accountToken
	return r
}

// A value of &#x60;true&#x60; returns active resources; &#x60;false&#x60; returns inactive resources.
func (r ApiRetrieveRewardProgramsRequest) IsActive(isActive bool) ApiRetrieveRewardProgramsRequest {
	r.isActive = &isActive
	return r
}

// Number of resources to retrieve.
func (r ApiRetrieveRewardProgramsRequest) Count(count int32) ApiRetrieveRewardProgramsRequest {
	r.count = &count
	return r
}

// Sort order index of the first resource in the returned array.
func (r ApiRetrieveRewardProgramsRequest) StartIndex(startIndex int64) ApiRetrieveRewardProgramsRequest {
	r.startIndex = &startIndex
	return r
}

// Field on which to sort. Prefix the field name with a hyphen (&#x60;-&#x60;) to sort in descending order. Omit the hyphen to sort in ascending order.  *NOTE*: You must sort using system field names such as &#x60;updatedTime&#x60;, and not by the field names appearing in response bodies such as &#x60;updated_time&#x60;.
func (r ApiRetrieveRewardProgramsRequest) SortBy(sortBy string) ApiRetrieveRewardProgramsRequest {
	r.sortBy = &sortBy
	return r
}

func (r ApiRetrieveRewardProgramsRequest) Execute() (*RewardProgramsPageResponse, *http.Response, error) {
	return r.ApiService.RetrieveRewardProgramsExecute(r)
}

/*
RetrieveRewardPrograms List reward programs

Retrieve an array of reward programs.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRetrieveRewardProgramsRequest
*/
func (a *RewardProgramsBetaAPIService) RetrieveRewardPrograms(ctx context.Context) ApiRetrieveRewardProgramsRequest {
	return ApiRetrieveRewardProgramsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return RewardProgramsPageResponse
func (a *RewardProgramsBetaAPIService) RetrieveRewardProgramsExecute(r ApiRetrieveRewardProgramsRequest) (*RewardProgramsPageResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RewardProgramsPageResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RewardProgramsBetaAPIService.RetrieveRewardPrograms")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/credit/rewardprograms"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.accountToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "account_token", r.accountToken, "")
	}
	if r.isActive != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_active", r.isActive, "")
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	} else {
		var defaultValue int32 = 5
		r.count = &defaultValue
	}
	if r.startIndex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_index", r.startIndex, "")
	} else {
		var defaultValue int64 = 0
		r.startIndex = &defaultValue
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_by", r.sortBy, "")
	} else {
		var defaultValue string = "-updatedTime"
		r.sortBy = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetrieveRewardProgramsRulesConfigRequest struct {
	ctx context.Context
	ApiService *RewardProgramsBetaAPIService
	token string
	isActive *bool
	count *int32
	startIndex *int64
	sortBy *string
}

// A value of &#x60;true&#x60; returns active resources; &#x60;false&#x60; returns inactive resources.
func (r ApiRetrieveRewardProgramsRulesConfigRequest) IsActive(isActive bool) ApiRetrieveRewardProgramsRulesConfigRequest {
	r.isActive = &isActive
	return r
}

// Number of resources to retrieve.
func (r ApiRetrieveRewardProgramsRulesConfigRequest) Count(count int32) ApiRetrieveRewardProgramsRulesConfigRequest {
	r.count = &count
	return r
}

// Sort order index of the first resource in the returned array.
func (r ApiRetrieveRewardProgramsRulesConfigRequest) StartIndex(startIndex int64) ApiRetrieveRewardProgramsRulesConfigRequest {
	r.startIndex = &startIndex
	return r
}

// Field on which to sort. Prefix the field name with a hyphen (&#x60;-&#x60;) to sort in descending order. Omit the hyphen to sort in ascending order.  *NOTE*: You must sort using system field names such as &#x60;updatedTime&#x60;, and not by the field names appearing in response bodies such as &#x60;updated_time&#x60;.
func (r ApiRetrieveRewardProgramsRulesConfigRequest) SortBy(sortBy string) ApiRetrieveRewardProgramsRulesConfigRequest {
	r.sortBy = &sortBy
	return r
}

func (r ApiRetrieveRewardProgramsRulesConfigRequest) Execute() (*RewardProgramsRulesConfigsPage, *http.Response, error) {
	return r.ApiService.RetrieveRewardProgramsRulesConfigExecute(r)
}

/*
RetrieveRewardProgramsRulesConfig List rules configurations

Retrieve an array of rules configs for a specific reward program.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param token Unique identifier of the reward program.
 @return ApiRetrieveRewardProgramsRulesConfigRequest
*/
func (a *RewardProgramsBetaAPIService) RetrieveRewardProgramsRulesConfig(ctx context.Context, token string) ApiRetrieveRewardProgramsRulesConfigRequest {
	return ApiRetrieveRewardProgramsRulesConfigRequest{
		ApiService: a,
		ctx: ctx,
		token: token,
	}
}

// Execute executes the request
//  @return RewardProgramsRulesConfigsPage
func (a *RewardProgramsBetaAPIService) RetrieveRewardProgramsRulesConfigExecute(r ApiRetrieveRewardProgramsRulesConfigRequest) (*RewardProgramsRulesConfigsPage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RewardProgramsRulesConfigsPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RewardProgramsBetaAPIService.RetrieveRewardProgramsRulesConfig")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/credit/rewardprograms/{token}/rulesconfigs"
	localVarPath = strings.Replace(localVarPath, "{"+"token"+"}", url.PathEscape(parameterValueToString(r.token, "token")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.isActive != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_active", r.isActive, "")
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	} else {
		var defaultValue int32 = 5
		r.count = &defaultValue
	}
	if r.startIndex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_index", r.startIndex, "")
	} else {
		var defaultValue int64 = 0
		r.startIndex = &defaultValue
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_by", r.sortBy, "")
	} else {
		var defaultValue string = "-updatedTime"
		r.sortBy = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetrieveRewardProgramsRulesConfigAppliedRequest struct {
	ctx context.Context
	ApiService *RewardProgramsBetaAPIService
	token string
}

func (r ApiRetrieveRewardProgramsRulesConfigAppliedRequest) Execute() (*RewardProgramsRulesConfigsResponse, *http.Response, error) {
	return r.ApiService.RetrieveRewardProgramsRulesConfigAppliedExecute(r)
}

/*
RetrieveRewardProgramsRulesConfigApplied Retrieve last rules configuration applied

Retrieve the most recently applied rules config on a specific reward program.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param token Unique identifier of the reward program.
 @return ApiRetrieveRewardProgramsRulesConfigAppliedRequest
*/
func (a *RewardProgramsBetaAPIService) RetrieveRewardProgramsRulesConfigApplied(ctx context.Context, token string) ApiRetrieveRewardProgramsRulesConfigAppliedRequest {
	return ApiRetrieveRewardProgramsRulesConfigAppliedRequest{
		ApiService: a,
		ctx: ctx,
		token: token,
	}
}

// Execute executes the request
//  @return RewardProgramsRulesConfigsResponse
func (a *RewardProgramsBetaAPIService) RetrieveRewardProgramsRulesConfigAppliedExecute(r ApiRetrieveRewardProgramsRulesConfigAppliedRequest) (*RewardProgramsRulesConfigsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RewardProgramsRulesConfigsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RewardProgramsBetaAPIService.RetrieveRewardProgramsRulesConfigApplied")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/credit/rewardprograms/{token}/rulesconfigs/applied"
	localVarPath = strings.Replace(localVarPath, "{"+"token"+"}", url.PathEscape(parameterValueToString(r.token, "token")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateRewardProgramRequest struct {
	ctx context.Context
	ApiService *RewardProgramsBetaAPIService
	token string
	putRewardProgramsRequest *PutRewardProgramsRequest
}

func (r ApiUpdateRewardProgramRequest) PutRewardProgramsRequest(putRewardProgramsRequest PutRewardProgramsRequest) ApiUpdateRewardProgramRequest {
	r.putRewardProgramsRequest = &putRewardProgramsRequest
	return r
}

func (r ApiUpdateRewardProgramRequest) Execute() (*RewardProgramsResponse, *http.Response, error) {
	return r.ApiService.UpdateRewardProgramExecute(r)
}

/*
UpdateRewardProgram Activate or deactivate reward program

Activate or deactivate a specific reward program.

[CAUTION]
This endpoint is available for banks only.
Do not use this endpoint if you are a brand contributor.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param token Unique identifier of the reward program.
 @return ApiUpdateRewardProgramRequest
*/
func (a *RewardProgramsBetaAPIService) UpdateRewardProgram(ctx context.Context, token string) ApiUpdateRewardProgramRequest {
	return ApiUpdateRewardProgramRequest{
		ApiService: a,
		ctx: ctx,
		token: token,
	}
}

// Execute executes the request
//  @return RewardProgramsResponse
func (a *RewardProgramsBetaAPIService) UpdateRewardProgramExecute(r ApiUpdateRewardProgramRequest) (*RewardProgramsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RewardProgramsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RewardProgramsBetaAPIService.UpdateRewardProgram")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/credit/rewardprograms/{token}"
	localVarPath = strings.Replace(localVarPath, "{"+"token"+"}", url.PathEscape(parameterValueToString(r.token, "token")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.putRewardProgramsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
